{% load allauth %}
<form method="{{ attrs.method }}"
      {% if attrs.action %}action="{{ attrs.action }}"{% endif %}
      {% if attrs.enctype %}enctype="{{ attrs.enctype }}"{% endif %}
      {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
      {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
      {% if attrs.target %}target="{{ attrs.target }}"{% endif %}
      {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
      {% if attrs.novalidate %}novalidate{% endif %}
      class="space-y-4 lg:space-y-6">
    <div class="space-y-4 lg:space-y-6">
        {% slot body %}
        {% endslot %}
    </div>
    <div class="space-y-3 lg:space-y-4 pt-2">
        {% slot actions %}
        {% endslot %}
    </div>
</form>
