/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Cairo:wght@200..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Maven+Pro:wght@400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Font variables */
    --font-h1: 'Josefin Sans', sans-serif;
    --font-h2-h6: 'Cairo', sans-serif;
    --font-body: 'Maven Pro', sans-serif;
    --font-ui: 'Alegreya Sans SC', sans-serif;
    --font-accent: 'Montserrat Alternates', sans-serif;

    /* Color variables */
    --color-error: #ffadac;
    --color-secondary-cta: #ffd6a5;
    --color-info: #fdffb6;
    --color-success: #caffbf;
    --color-primary-accent: #9bf6ff;
    --color-primary-btn-bg: #a0c4ff;
    --color-card-bg: #bdb2ff;
    --color-decorative: #ffc6ff;
    --color-bg-main: #fffffc;
    --color-text-main: #2c2c2c;
    --shadow: black 0px 4px 6px -1px, black 0px 2px 4px -1px;
    --reverse-shadow: black 0px -4px 6px -1px, black 0px -2px 4px -1px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--color-bg-main);
    box-shadow: var(--shadow);
}

h1 {
    font-family: var(--font-h1);
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-h2-h6);
}

a, button, input, select, textarea {
    font-family: var(--font-ui);
}

.search-bg {
    background-color: var(--color-bg-main);
    border: none;
    box-shadow: var(--shadow);
}

footer {
    background-color: var(--color-bg-main);
    box-shadow: var(--reverse-shadow);
    margin-top: auto;
}